// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;600;700&display=swap");
// variables
$ff-header: "Raleway";
$ff-body: "Open Sans";
$light_purple: #8da6ff;
$blue: #334ca7;
$medium-blue: #1b2330;
$dark-blue: #181f2b;
$gray: #5f6168;
$dark-bg: #0b1524;
$white: #fff;

body {
    background: $medium-blue;
    color: #fff;
}
h1,
h2,
h3,
h4,
h5,
.btn {
    font-family: $ff-header;
}

p {
    font-family: $ff-body;
}

h1 {
    line-height: 3.5rem;
    font-size: 64px;
    font-weight: 700;

    @include media-breakpoint-down(md) {
        font-size: 34px !important;
    }
}

h2 {
    font-size: 40px;
    font-weight: 600;
}

h3 {
    font-size: 22px;
    font-weight: 600;
}

.container {
    padding: 4rem 0;
    max-width: 1140px;
    @include media-breakpoint-down(md) {
        padding: 1rem 0;
    }
}

.navbar {
    .navbar-nav {
        .nav-link {
            font-family: $ff-header;
            font-weight: 600;
            color: $white;
            padding: 0.5em 4em;
            font-size: 22px;
            &:hover {
                color: $light_purple;
                text-decoration: underline;
            }
        }
        .btn {
            font-family: $ff-header;
            font-weight: 600;
            font-size: 22px;
            &:hover {
                background-color: #d4d5da;
            }
        }
        .dashboard {
            padding: 0.5em 4em;
        }
        img {
            border-radius: 90px;
            border: 2px solid $white;
            height: 100px;
            width: auto;
            transform: rotate(10deg);
        }
    }
    .navbar-brand {
        img {
            border-radius: 90px;
            border: 2px solid $white;
            height: 100px;
            width: auto;
            transform: rotate(10deg);
        }
    }
}
.intro {
    .row {
        margin-bottom: -40px;
        margin-top: 25px;
        position: relative;
        .intro-content {
            @include media-breakpoint-down(md) {
                order: 2;
                text-align: center;
            }
            .intro_headline {
                font-size: 64px;
                width: 46%;

                @include media-breakpoint-down(md) {
                    width: 100%;
                }
            }
            .intro_blurb {
                font-size: 20px;
                margin: 2.5rem 0;
                width: 85%;
                @include media-breakpoint-down(md) {
                    width: 100%;
                }
            }
            .btn {
                background: linear-gradient(0.45turn, #e16363 0%, #334ca7 70%);
                border: none;
                border-radius: 22px;
                padding: 10px 40px;
                font-weight: 600;
                &:hover {
                    background: $blue;
                    transition: all 1s;
                }
            }
        }
        .image {
            img {
                animation: MoveUpDown 7s linear infinite;
                position: absolute;
                bottom: 0;

                @keyframes MoveUpDown {
                    0%,
                    100% {
                        transform: translateY(0);
                    }
                    50% {
                        transform: translateY(-100px);
                    }
                }
                @include media-breakpoint-down(md) {
                    position: relative;
                    height: 100px;
                }
            }

            @include media-breakpoint-down(md) {
                text-align: center;
            }
        }
    }
}
.section_wrapper {
    background-image: url("/images/wave-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 8rem;
    .features {
        margin-top: -136px;
        .section_title {
            text-align: center;
            margin: 180px 0 65px 0;
        }
        .row {
            display: flex;
            justify-content: space-evenly;
            --bs-gutter-x: 0rem;

            @include media-breakpoint-down(md) {
                margin-right: 0;
                margin-left: 0;
            }
            .card {
                background-color: $dark-blue;
                border: 2px solid $gray;
                border-radius: 18px;
                text-align: center;
                padding: 30px 10px 10px 10px;
                margin-bottom: 60px;
                .card-img {
                    height: 76px;
                    width: 100%;
                }
                .card-title {
                    margin-bottom: 1.5rem;
                }
                .card-text {
                    font-size: 14px;
                }
                &:hover {
                    border: 2px solid $light_purple;
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        padding-bottom: 0.5rem;
    }
}

.faq {
    background-color: $dark-bg;
    height: 22vh;
    .container {
        position: relative;

        @include media-breakpoint-down(md) {
            justify-content: center;
        }
        .hold-me {
            position: absolute;
            background-color: $medium-blue;
            padding: 3rem 4rem;
            border-radius: 15px;
            top: -122px;

            .intro-content {
                text-align: center;
            }
            .accordions {
                display: flex;

                .accordion-item {
                    background-color: $dark-bg;
                    border: none;
                    margin-bottom: 0.5rem;
                    .accordion-header {
                        .accordion-button {
                            background-color: $dark-bg;
                            color: $white;
                        }
                    }
                    .accordion-body {
                        background-color: $dark-bg;
                    }
                }
            }
        }
        &::before {
            content: url("/images/plug.png");
            position: absolute;
            height: 50px;
            width: auto;
            display: block;
            z-index: 2;
            left: -7%;
            top: -160%;
        }

        @include media-breakpoint-down(md) {
            &::before {
                top: -58px;
                transform: scale(0.5);
            }
            .hold-me {
                top: 0;
            }
        }
    }

    @include media-breakpoint-down(md) {
        height: 100%;
        .container {
            .hold-me {
                position: relative;
                padding: 2rem 1rem;
                .accordions {
                    flex-direction: column;
                    .me-3 {
                        margin: auto !important;
                    }
                }
            }
        }
    }
}

footer {
    max-width: 1140px;
    .right {
        .social-icon {
            height: 40px;
            transform: rotate(0deg);
            transition: transform 0.25s;

            &:first-child {
                margin-right: 1rem;
            }
            &:hover {
                transform: rotate(360deg);
                transition: transform 0.25s;
            }
        }
    }
    .copyright {
        text-align: left;
        a {
            color: $white;
            &:hover {
                color: $light_purple;
            }
        }

        .right {
            text-align: right;
        }
    }
    .built-by {
        a {
            color: $white;
            &:hover {
                color: $light_purple;
            }
        }
    }
}
